
h2 {
	font-family:'Quicksand', sans-serif;
}

p {
	font-family: 'Quicksand', sans-serif;
}

body {
	background-color: #EFE1CE;
	color: #363945;


}

#img {

	border-radius: 50px;
	margin-left: 45%;
	margin-top: -400px;
	display: block;
	z-index: 1;
	position: absolute;

}
ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	margin-top:-313px;

}

ul li {
	float: left;
	background-color:  #d1ccc0;


}
li a {
	display: block;
	color: #84817a;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #aaa69d;
}
/*.wall {
	background-image: url("wall.jpg");
	height: 250px;
	background-position: left top;
	background-repeat: no-repeat;
}*/
body, html {
    height: 100%;
}
.hero-image {
	background-image: url("wall.jpg");
	height: 50%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.6;
 
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white;
	font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}